<div>
<a class="btn btn-secondary" href="/course"><i class="fa fa-plus"></i> Create New</a> 
 
<h3 align="center">Course List</h3>
</div>
<table class="table table-striped">
<thead>
<tr>
<th>Course Name</th>
<th>Course Description</th>
<th>Course Average_grade</th>
<th></th>
</tr>
</thead>
<tbody>
{{#each list}}
<tr align="center">
<td>{{this.Name}}</td>
<td>{{this.Description}}</td>
<td>{{this.Average_grade}}</td>
<td>
<a href="/course/{{this._id}}"> Edit </a>
<a href="/course/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"> Delete </a>
</td>
</tr>
{{/each}}
</tbody>
</table>